@font-face {
    font-family: Cyber;
    src: url("../../fonts/Cyber/Cyberpunk.ttf");
    font-display: swap;
}

.title {
    position: absolute;
    color: #fff;
    font-family: 'Cyber', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 3.5em;
    margin: 1.5em 2em;
    text-shadow: -5px 5px 5px #000f14;

    @media only screen and (hover: none) and (pointer: coarse) {
        font-size: 30px;
        margin: 20px;
    }
}
