@font-face {
    font-family: Cyber;
    src: url("../../fonts/Cyber/Cyberpunk.ttf");
    font-display: swap;
}

.title {
    position: absolute;
    width: 100%;
    color: #fff;
    font-family: 'Cyber', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 3.5em;
    margin: 0.5em 1em;
    text-shadow: -5px 5px 5px #000f14;
}
